@import url(font-awesome.min.css);

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

.fa {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    font-size: 1.75em;
    color: rgba(0, 0, 0, 0.5);
}

.fa:hover {
    color: rgba(0, 0, 0, 0.75);
}